/*Style Geral*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*Formatações gerais*/

h1, h2, h3, h4, h5, p, span{
    margin: 0;
    color: rgb(102, 102, 102);
}
body{
    margin: 0;
}
html{
    font-family: 'Open Sans', sans-serif;
}    

.container{
    max-width: 1920px;
    width: 100%;
}

/*Header*/
header{
  position: relative;
  top: 0;  
  height: auto;
  width: 100%;
}

/*Nav*/
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

nav::after{
    clear: both;
    content: "";
    display: block;
}
.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a{
    text-decoration: none;
    color: #666;
    transition: .4s;
}

.nav-container li a:hover{
   color:#3381f3 ;
}


#logo{
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

/*Banner*/
#main-banner{
    background: url('../img/banner6.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;
}

#search-form{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
}

#search-form h1{
    font-size: 40px;
}
#search-form p{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300px;
}

#search-form input, #search-form select{
    background-color: #FFF;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
}

#search-form input[type=submit]{
    background-color: #3381f3;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    transition: .4s;
}
#search-form input[type=submit]:hover{

    background-color: #2b79eb;
}